.admin-container {
  display: flex;
  .admin-sidebar {
    .pro-sidebar {
      height: 100vh !important;
    }
  }
  .admin-content {
    width: 100%;
    .admin-header {
      height: 40px;
      border-bottom: 2px solid aqua;
    }
    .admin-main {
      // height: 40px;
      border-bottom: 2npx solid aqua;
      .user-pagePagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
      .table-user {
        height: 600px;
      }
    }
  }
}
