.manager-user-container {
  padding: 10px 5px;
  .title {
    font-weight: 600;
    font-size: 1.3rem;
  }
  .user-contents {
    .btn-add {
      gap: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
    }
  }
}
.ModalAddUser {
  .img-preview {
    border: 1px dashed #ccc;
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .uploadFile {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px;
    background-color: rgb(240, 231, 220);
    cursor: pointer;
    &:hover {
      background-color: antiquewhite;
    }
  }
}
