$primary-color: #f0a500;
$secondary-color: #bd8200;
$input-bg: #f9f9f9;
$border-color: #e5e5e5;

.quiz-container {
  .container-quiz {
    // max-width: 38em;
    // padding: 1em 3em 2em 3em;
    // margin: 0em auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    form {
      .row {
        margin: 0 0 30px 0;
        zoom: 1;
        &:before,
        &:after {
          content: "";
          display: table;
        }

        &:after {
          clear: both;
        }
        .col-third {
          padding-right: 10px;
          float: left;
          width: 33.33333333%;

          &:last-of-type {
            padding-right: 0;
          }
        }

        .col-half {
          padding-right: 10px;
          float: left;
          width: 50%;

          &:last-of-type {
            padding-right: 0;
          }
        }
        @media only screen and (max-width: 540px) {
          .col-half {
            width: 100%;
            padding-right: 0;
          }
        }
        h4 {
          color: $primary-color;
        }
        .input-group {
          //   padding: 0;
          input,
          input[type="radio"] + label,
          input[type="checkbox"] + label:before,
          Select option,
          Select {
            width: 100%;
            padding: 1em;
            line-height: 1.4;
            background-color: $input-bg;
            border: 1px solid $border-color;
            border-radius: 3px;
            transition: all 0.35s ease-in-out;

            &:focus {
              outline: 0;
              border-color: $secondary-color;

              + .input-icon i {
                color: $primary-color;
              }

              + .input-icon:after {
                border-right-color: $primary-color;
              }
            }
          }
          input[type="radio"],
          input[type="checkbox"] {
            display: none;
          }
          input[type="radio"] + label,
          Select {
            display: inline-block;
            width: 50%;
            text-align: center;
            border-radius: 0;
          }
          input[type="radio"]:checked + label,
          input:checked + label:before,
          Select:focus,
          Select:active {
            background-color: $primary-color;
            color: #fff;
            border-color: $secondary-color;
          }
          input[type="checkbox"] + label {
            position: relative;
            display: block;
            padding-left: 1.6em;

            &:before {
              position: absolute;
              top: 0.2em;
              left: 0;
              width: 1em;
              height: 1em;
              content: "";
            }

            &:after {
              position: absolute;
              top: 0.45em;
              left: 0.2em;
              font-size: 0.8em;
              color: #fff;
              opacity: 0;
              font-family: FontAwesome;
              content: "\f00c";
            }
          }
          input:checked + label:after {
            opacity: 1;
          }

          Select {
            height: 3.4em;
            line-height: 2;

            &:first-of-type {
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }

            &:last-of-type {
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
            }

            &:focus,
            &:active {
              outline: 0;
            }

            option {
              background-color: $primary-color;
              color: #fff;
            }
          }
          margin-bottom: 1em;
          zoom: 1;

          &:before,
          &:after {
            content: "";
            display: table;
          }

          &:after {
            clear: both;
          }

          &-icon {
            position: relative;
          }
          &-icon {
            position: relative;

            input {
              padding-left: 4.4em;
            }

            .input-icon {
              position: absolute;
              top: 0;
              left: 0;
              width: 3.4em;
              height: 3.4em;
              line-height: 3.4em;
              text-align: center;
              pointer-events: none;

              &:after {
                position: absolute;
                top: 0.6em;
                bottom: 0.6em;
                left: 3.4em;
                border-right: 1px solid $border-color;
                content: "";
                transition: all 0.35s ease-in-out;
              }

              i {
                transition: all 0.35s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
